#info
{
	padding: 4px;
	float: left; 
	margin: 0 auto;
}

#user
{
	padding: 4px;
	float: right; 
	margin: 0 auto;
}

#mainDiv
{
	overflow: hidden;
	width: 1247px;
	margin: 0 auto;
	padding: 4px;
	padding-top: 20px;
}

#menu
{
	overflow: hidden;
	padding: 4px;
	border: 1px solid;
}

#serverStatus
{
	padding: 4px;
	float:left;
}

.dot 
{
    height: 12px;
    width: 12px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
}

#content
{
	overflow: hidden;
	clear:both; 
	display: flex;
	border-right: 1px solid;
}

#game
{
	float:left;
	border-left: 1px solid;
}

#video
{
	padding: 6px;
}

#textBoxes
{
	border-left: 1px solid;
	padding: 4px;
	float: left;
}

#promotionContent
{
	float:right; 
	padding-right:140px;
	display: none;
}

#pteType
{
	padding: 4px;
	clear: both;
}

textarea {
    resize: none;
	padding: 4px;
}

#ytChat
{
	padding: 4px;
	padding-top: 50px;
}

#playersBoxes
{
	display: flex;
	padding: 4px;
	padding-bottom: 20px;
}

#whitePlayerBox
{
	float:left; 
	width:33.3%; 
	display: flex;
	padding: 1px;
}

#whitePlayerMiniBox, #blackPlayerMiniBox
{
	border: 1px solid;
	padding: 4px;
	width: 320px;
	display:flex;
	justify-content:center;
	align-items:center;
}

#whitePlayerSign, #blackPlayerSign
{
	float:left;
	font-size: 300%;
	padding: 4px;
}

#whitePlayerBtns, #blackPlayerBtns
{
	float:left; 
	padding: 4px;
	padding-top: 10px;
	height:auto;
	text-align:center;
}

#whitePlayer, #blackPlayer
{
	min-width:60px;
	padding: 4px;
}

#resign
{
	padding: 4px;
	float:left; 
	width: 33.3%; 
	text-align:center;
}

#blackPlayerBox
{
	float:left; 
	width:33.3%; 
	text-align:right; 
	display: flex;
	padding: 1px;
}

#clientPlainTextWindow
{
	padding: 4px;
	width:330px; 
	height:160px;
}

#queuePlayer, #leaveQueue
{
	padding: 4px;
	display: none;
}

#footage
{
	padding: 4px;
	clear: both;
	font-size: 80%;
	border-top: 1px solid;
}